*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, lightblue, coral);
}

button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .75);
}

button:hover {
    background-color: rgba(255, 255, 255);
}

.calc-title {
    font-size: 50px;
    color: white;
}

.calculator-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(120px, auto) repeat(5, 90px);
}

.big-buttons {
    grid-column: span 2;
}

.output {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #23252b;
    grid-column: 1 / -1;
    padding: 10px;
}

.previous-operand {
    color: rgba(255, 255, 255, .7);

}

.current-operand {
    font-size: 2.5rem;
    color: white;
}